* {
  background-color: #eea6fc;
  padding-top: 5px;
}

h1{
    text-align: center;
    font-family: "Press Start 2P";
}

p {
  font-family: "Press Start 2P";
  line-height: 2;
}

#slider-container {
  height: 500px;
  overflow: hidden;
  position: resolute;
}

#slider {
  display: flex;
  height: 500px;
  transition: transform 0.3s ease-in-out;
}

.slide {
  min-width: 50%;
}

.slide-E {
  min-width: 40%;
}

#prev,
#next,
#choice {
  cursor: pointer;
  position: absolute;
  text-align: center;
  width: 250px;
  padding: 40px;
  font-size: 35px;
  color: black;
  font-family: poppins;
  font-weight: 400;
  border:  5px solid black;
  border-radius: 100px;
  text-transform: uppercase;
  transition: 1.5s;
}

#next {
    right: 10px;
    width: 250px;
}

#prev {
  width: 250px;
}

#choice {
  justify-content: center;
  width: 300px;
  right: 525px;
}

#next:hover, #prev:hover, #choice:hover {
    color: #eea6fc;
    background-color: black;
    transition-duration: .2s;
    transition: .2s;
}

